In [14]:
#defining a DataFrame
import numpy as np
import pandas as pd
dict1={'color':
               ['Red','Yellow','Blue'],
       'Object':
               ['Ball','Banana','Table'],
       'Price':
               [2.3, 4 , 5.3]}

df=pd.DataFrame(dict1,columns=['color','Object'],index=['one','two','three'])
print(df)

        color  Object
one       Red    Ball
two    Yellow  Banana
three    Blue   Table

In [41]:
#Defining a DataFrame
df=pd.DataFrame(np.arange(16).reshape((4,4)),columns=['color','Object','price','name'])
print(df)

   color  Object  price  name
0      0       1      2     3
1      4       5      6     7
2      8       9     10    11
3     12      13     14    15

In [32]:
#Selecting Elements From Data Frame
df.columns
df.values
df.index

Index(['one', 'two', 'three', 'four'], dtype='object')

In [35]:
#Selecting Elements From Data Frame
df['color']
df.color

one       0
two       4
three     8
four     12
Name: color, dtype: int32

In [37]:
#Selecting rows From Data Frame
df.loc['two']

color     4
Object    5
price     6
name      7
Name: two, dtype: int32

In [51]:
#if you need to select a portion pf the frame
df.loc[0:2]

   color  Object  price  name
0      0       1      2     3
1      4       5      6     7
2      8       9     10    11

In [52]:
#if you need to select multiple rows
df.loc[[0,2]]

   color  Object  price  name
0      0       1      2     3
2      8       9     10    11

In [54]:
#select a value in data Frame
df['Object'][1]

5

In [60]:
# naming dataframe
df.columns.name='item'
df.index.name='index'
df

item   color  Object  price  name
index
0          0       1      2     3
1          4       5      6     7
2          8       9     10    11
3         12      13     14    15

In [61]:
#add new column to data frame
df['new']=12

In [65]:
df['new']=[1.3,4.2,5.3,3.3]
df['new'][2]=5
df

<ipython-input-65-26efd9001cf7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new'][2]=5

item   color  Object  price  name  new
index
0          0       1      2     3  1.3
1          4       5      6     7  4.2
2          8       9     10    11  5.0
3         12      13     14    15  3.3

In [66]:
df

item   color  Object  price  name  new
index
0          0       1      2     3  1.3
1          4       5      6     7  4.2
2          8       9     10    11  5.0
3         12      13     14    15  3.3

In [68]:
#Membership of a Value
df.isin([1.0,15,3.3])

item   color  Object  price   name    new
index
0      False    True  False  False  False
1      False   False  False  False  False
2      False   False  False  False  False
3      False   False  False   True   True

In [69]:
df[df.isin([1.0,15,3.3])]

item   color  Object  price  name  new
index
0        NaN     1.0    NaN   NaN  NaN
1        NaN     NaN    NaN   NaN  NaN
2        NaN     NaN    NaN   NaN  NaN
3        NaN     NaN    NaN  15.0  3.3

In [75]:
del df['new']
df

item   color  Object  price  name
index
0          0       1      2     3
1          4       5      6     7
2          8       9     10    11
3         12      13     14    15

In [79]:
# filtering
df[df['price']<8]

item   color  Object  price  name
index
0          0       1      2     3
1          4       5      6     7

In [80]:
#NestedDict
nestdict = {'red':{2012: 22, 2013: 33},
 'white':{2011: 13, 2012: 22, 2013: 16},
'blue': {2011: 17, 2012: 27, 2013: 18}}
frame2 = pd.DataFrame(nestdict)
frame2

       red  white  blue
2012  22.0     22    27
2013  33.0     16    18
2011   NaN     13    17

In [81]:
#tranposition of dataframe
frame2.T

       2012  2013  2011
red    22.0  33.0   NaN
white  22.0  16.0  13.0
blue   27.0  18.0  17.0

In [90]:
ser=frame2.index

In [93]:
#Index object
ser = pd.Series([5,0,3,8,4], index=['red','blue','yellow','white','green'])
ser.index

Index(['red', 'blue', 'yellow', 'white', 'green'], dtype='object')

In [94]:
ser.idxmin()

'blue'

In [95]:
ser.idxmax()

'white'

In [96]:
serd = pd.Series(range(6), index=['white','white','blue','green',
'green','yellow'])

In [97]:
serd['white']

white    0
white    1
dtype: int64

In [98]:
#To Check if there is duplicate in the index
serd.index.is_unique

False

In [99]:
#Reindexing
ser = pd.Series([2,5,7,4], index=['one','two','three','four'])
ser

one      2
two      5
three    7
four     4
dtype: int64

In [101]:
ser = ser.reindex(['four','three','one','five'])

In [102]:
ser

four     4.0
three    7.0
one      2.0
five     NaN
dtype: float64

In [108]:
#reindex Method 2
ser3 = pd.Series([1,5,6,3],index=[0,3,5,6])
ser3=ser3.reindex(range(6),method='ffill')
ser3

0    1
1    1
2    1
3    5
4    5
5    6
dtype: int64

In [110]:
#reindex Method 3
ser3 = pd.Series([1,5,6,3],index=[0,3,5,6])
ser3=ser3.reindex(range(6),method='bfill')
ser3

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64